html, body {
	font-family: "Segoe UI", sans-serif;
}

input {
	font-size: inherit;
}

#content {
	margin: 10px;
}

#log {
	margin: 10px;
}

#send-data {
	padding: 5px;
}

.outgoing {
	color: #b91d47;
	opacity: 0.75;
}

.incoming {
	margin-left: 25px;
}

.status {
	color: #999;
}